@font-face {
    font-family: "baltica";
    src: url(font/futuris-cyrillic_[allfont.ru].ttf) format("woff2"),
    url("font/baltica_[allfont.ru].ttf") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }

#testbody{
    width: 90%;
    margin:  auto;
    max-width: 1000px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    height: fit-content;
}
.question{
    margin: auto;
    column-gap: 30px;
    width: 90%;
    display: grid;
    margin-top: 30px;
    margin-bottom: 30px;
    grid-template-areas: 
    'AA BA'
    'AA CA';
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 2fr;
}
.questionimg{
    grid-area: AA;
    display: flex;
    justify-content: end;
    width: 100%;
}
.questionimg img{
    max-width: 210px;
    width: auto;
    margin: 0%;
}
.questiontext{
    width: 100%;
    height: 100%;
    grid-area: BA;
    padding-bottom: 4px;
}
.questiontext h6{
    text-align: left;
    justify-self: flex-start;
    align-self: flex-end;
    font-family: 'baltica';
    font-size: 25px;
}
.variants{
    font-family: 'baltica';
    width: 100%;
    height: 100%;
    grid-area: CA;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
label{
    width: 100%;
    margin: 5px;
    font-size: 18px;
} 
@media(max-width: 500px){
    .question{
        margin: auto;
        column-gap: 30px;
        width: 90%;
        display: grid;
        margin-top: 30px;
        margin-bottom: 30px;
        grid-template-areas: 
        'AA''BA'
        'CA';
        grid-template-columns: 1fr;
        grid-template-rows: auto; 
    }
    .questionimg{
        justify-content: center;
    }
    .questiontext h6{
        text-align: center;
    }
}
.knowresults{
    width: 90%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    padding-right: 10px;
}
.knowresults button{
    width: 250px;
    background-color: orange;
    padding: 10px 15px;
    border: 0px;
    border-radius: 7px;
    color: rgb(255, 255, 255);
}
.knowresults button p{
    text-transform: uppercase;
    font-family: 'baltica';
    margin-bottom: 0px;
    font-size: 20px;
}

.results{
    width: 100%;
    max-width: 1000px;
    height: autopx;
    /* background-color: blueviolet */
}

.resulttext {
    margin-bottom: 90px;
    font-family: 'baltica';
    /* padding: 0 18px; */
    background-color: white;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    transition: max-height 0.2s ease-out;
    display: grid;
    column-gap: 20px;
    grid-template-areas: 
    'imgres nameres nameres'
    'imgres textres textres'
    'imgres . btnres';
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 2fr 6fr 1fr;

}
.nameofmeal{
    width: 100%;
    text-align: left;
}
.resulttext p{
  grid-area: textres;
  font-size: 17px;
}
.resulttext a{
    grid-area: btnres;
    width: 100%;
    text-align: end;
  }
.resulttext h2{
    grid-area: nameres;
  }
.resultimg{
    width: 100%;
    display: flex;
    height: 100%;
    grid-area: imgres;
}

.resultimg img{
    height: auto; 
    /* min-height:  100%;  */
    max-height: 100%;
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
}

.unseen{
    display: none;
}
@media(max-width:500px){
    .resulttext {
        margin-bottom: 90px;
        font-family: 'baltica';
        /* padding: 0 18px; */
        background-color: white;
        max-height: 0;
        overflow: hidden;
        width: 100%;
        transition: max-height 0.2s ease-out;
        display: grid;
        column-gap: 20px;
        row-gap: 20px;
        grid-template-areas: 
        'imgres nameres'
        'textres textres'
        '. btnres';
        grid-template-columns:  1fr 1fr;
        grid-template-rows: auto;
    
    }
}